.tag {
    height: 25px;
    padding: 3px 10px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    background-color: var(--main-color);
    color: var(--main-img-text-color);
    border-radius: 10px;
}

.tag p {
    font-size: 14px;
    font-weight: 700;
}

/****** Media queries ***********/
/* Small devices (phones, less than 768px) */

@media screen and (min-width: 330px) and (max-width: 768px) {
    .tag p{
        height: 18px;  
        font-size: 10px;  
    }
}
