.slideshow {
    position: relative; /* Le parent des chevrons */
    width: 100%; /* Largeur du slider */
    margin: auto; /* Centré si besoin */
    overflow: hidden; /* Empêche les éléments de dépasser */
}
  
.slideshowImage {
    width: 1240px;
    height: 415px;
    object-fit: cover; /* Ajuste l'image pour remplir l'espace */
    border-radius: 10px;
    overflow: hidden;
} 

.chevron {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    color: white;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
    padding: 15px;
    border: none;
}
  
.chevronLeft {
    left: 10px;
}
  
.chevronRight {
    right: 10px;
}

.indexText {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    z-index: 2;
}

/****** Media queries ***********/
/* Medium devices (table, less than 1240px) */

@media (max-width: 1240px) {
  .slideshowImage {
    width: 100%;
  } 
}

/* Small devices (phones, less than 768px) */

@media screen and (min-width: 330px) and (max-width: 768px) {
  .slideshow {
    position: relative; 
    width: 100%; 
    height: 255px;
    margin: auto; 
    overflow: hidden; 
  }
      
  .slideshowImage {
    width: 100%;
    height: 255px;
    }
    
  .chevron {
    font-size: 24px;
  }

  .chevronLeft {
    left: 0;
  }
  
.chevronRight {
    right: 0;
  }
  
  .indexText {
    display: none;
  }
}
  